.header {
    font-family: Titan One;
    background-color: #ffb8ca;


    /* crear clase SVG para logos */
    background-image: url(/src/images/Ellipse_3.svg);
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 30%;
    margin-left: 0 auto;

    &____cont {
        flex-basis: 1400px;
        height: 664px;
    
    
        /* crear clase SVG para logos */
        background-image: url(/src/images/bottom-background.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 95%;
        background-position-x: 60%;
        z-index: -1;
    }  

    &____nav  {
        display:flex;
        padding:15px 15px;
        flex-basis: 100vw;
        justify-content: space-between;
        align-items: center;
    }
}  

/* especificadores de header */


.nav__items {
    display:inline-flex;
    width: 541px;
    align-items: start;
    justify-content: space-between;
    list-style-type: none; /* esto va en _base.scss*/
    
    .nav__items--link {
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: #ffffff;
    }
    
    
    .nav__items--link:hover,
    .nav__items--link:focus{
        color: #d41443;
    }
}

/*comienza configuración boton derecho superior*/

.btn__buy {
    width: 159px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 22px;
    border: 1px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.btn__buy:hover,
.btn__buy:focus{
    background-color: #ecebeb;
    color: #ffffff;
}

.btn__text {
    color: #d41443;
    justify-content: center;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.icon--ppal:hover,
.icon--ppal:focus{
    fill: #ffffff;
}   /* Organizar con el svg que usaron los demas para no crear conflicto o no repetir codigo*/




/*---------------------imagen de fondo background-----------------------*/

/* .img__back__icon {
    position: absolute;
    z-index: 1;
}  



.circle__back {
    z-index: -1;
}

este codigo no esta afectando el html
*/      

.menu__next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 300px;
}


.menu__left{
    width: 277px;
    height: 137px;
    margin-left: 56px;
    margin-left: 20px;
    height: auto;
}


/*Creamos clases para los titulos a la izquierda */

.text{
    font-family: Titan One;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;

    .text__h1 {
        color: #ffffff;
        font-size: 38px;
        line-height: 44px;
    }
    .text__h2{
        color: #d41443;
        font-size: 58px;
        font-weight: 400;
        line-height: 52px;
    }
}

/*button Ice Cream */


.buttons__left{   
    margin-top: 12px;
    display: inline-flex;
    gap: 12px;
}

.btn_title{ /* cambiar nombre para que los hijos puedan tomar caracteristicas del padre*/
    display:flex;
    justify-content: center;
    align-items:center;
    background: #d41443;
    height: 40px;
    border-radius: 20px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center; /*opcional borrarlo*/
    color: #ffffff;

    .btn_title--product{
        width: 107px;
        top: 308px;
        left: 16px;

    }
    .btn_title--made{
        width: 138px;
        top: 308px;
        left: 135px;

    }

    .btn_title:hover,
    .btn_title:focus {
        background-color: #ecebeb;
        color: #d41443;
    }
    
}

/*--bloques superpuestos*/


/*
.group__right {
    top: 150px;
    left:90%;
    position: absolute;}

.group__logo {
    position: relative;
    left: 70px;
    z-index: 1;
}

.group__obj {
list-style: none;
}
-----------------------------------------------se opta por una descarga de img------------------------------------------
.group__big {
    font-family: Titan One;
    font-size: 46px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0.04em;
    margin-right: 5px;
    color: #d41443;
    z-index:1;
}

.big__text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    z-index: 2;
}*/


