:root {
  --primary-color: #d41443;
  --secondary-color: #ffa5ba;
  --tertiary-color: #000;
  --brand-color: #fff;
  --brand-color2: #fff5f6;
}

body {
  font-family: 'Titan One', 'DM Sans';
}

.product-detail {
  background: var(--brand-color2);
}

.slogan {
  color: var(--secondary-color);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-top: 60px;
}

.product-description {
  color: var(--primary-color);
  text-align: center;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
  margin-top: 10px;
}

.product-description-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.product-detail-1 {
  display: flex;
  justify-content: space-around;
}

.product-detail-1 {
  background-image: url(../images/sectionbg1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 90px;
}

.product-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prod-det-image {
  padding: 8px 0px 20px 20px;
}

.product-description1 {
  color: var(--tertiary-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.64px;
  width: 400px;
  height: 104px;
  margin-top: 50px;
}

.product-description2 {
  color: #907e82;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.56px;
  width: 400px;
  height: 130px;
  margin-bottom: 40px;
}

.button-product-description {
  color: var(--primary-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--brand-color);
  border: var(--brand-color);
  border-radius: 22px;
  width: 176px;
  height: 44px;
  cursor: pointer;
}
git .icon-button {
  stroke: var(--primary-color);
  stroke-width: 2px;
  margin-left: 8px;
}

.button-product-description:hover {
  background: #ecebeb;
  transition: all 0.5s;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 100px;
  max-width: 1200px;
}

.title {
  display: none;
}

.detail-advantages {
  list-style: none;
  position: relative;
  flex-basis: calc((100% - 200px) / 3);
}

.detail-advantages-1::before {
  background-image: url(../images/milk.png);
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  top: -80px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.detail-advantages-2::before {
  background-image: url(../images/apples.png);
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  top: -80px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.detail-advantages-3::before {
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  top: -80px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.advantages1 {
  color: var(--primary-color);
  text-align: left;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 2.32px;
  text-transform: uppercase;
  margin: 0;
}

.advantages2 {
  color: var(--tertiary-color);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.32px;
}
