*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
font-family: Titan One;
background-color: #FFB8CA;
background-image: url(/src/images/Ellipse_3.svg);
background-repeat: no-repeat;
background-position: center;
z-index: -1;
margin-left:0 auto;
}

.header{
    width: 1280px;
    height: 664px;
    background-image: url(/src/images/bottom-background.svg);
    background-repeat: no-repeat;   
    background-position: center;
    background-position-y: 80%;
    z-index: -1 ;
}

.img__back__icon{
position: absolute;
z-index:1;
}

.circle__back{
z-index:-1;
}

.header .nav{
width: 1280px;
padding: 20px 10px;
display:inline-flex;
justify-content: space-between;
align-items: center;
position: relative;
z-index:2;
}

.nav__left__button{
width: 159px;
height: 44px;
background-color: #FFFFFF;
border-radius: 22px;
border:1px;
padding:0 30px;
display:inline-block;
text-decoration: none;
display:inline-flex;
justify-content: space-between;
align-items: center;
}

.nav__left__button:hover{
    background-color: #ECEBEB;
}

.nav__button__text{
 color: #D41443;
 justify-content: center;
 font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
}

.menu__nav{
display:flex;
width: 541px;
height: 21px;
justify-content: space-between;
list-style-type: none;
}

.nav__link{
font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;    
text-decoration: none;
}

.nav__link--color{
color: #FFFFFF;
}

.nav__link:hover,
.nav__link:focus{
color: #D41443;
}


.header__next__right{
width: 277px;
height: 137px;
margin-left:56px;
}

.first__line--color{
    color: #FFFFFF;
}

.first_line--feature {
font-family: Titan One;
font-size: 38px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0.04em;
text-align: left;
}


.second_line--color{
    color: #D41443;
}

.second_line--feature{
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-align: left; 
}

.header__next{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1280px;
    height: 300px;
}

.header__next__right{
margin-left: 10px;
}


.big__number{
font-family: Titan One;
font-size: 46px;
font-weight: 400;
line-height: 53px;
letter-spacing: 0.04em;
margin-right: 5px;
}

.big__number--color{
    color: #D41443;
}


.circle__white{  
    top:-30px;
    position: relative;
    left: 70px;
    z-index: -1;
}

.text__big__number--pos{
    z-index: -1;
    bottom:1px;
}

/*button Ice Cream */

.buttons{
margin-top:12px;
display:inline-flex;
gap:12px;
}

.button__products--inactive{
    background: #D41443;
    height: 40px;
    width: 107px; 
    top: 308px;
    left: 16px;
    border-radius: 20px;
}   


.button__products--inactive--color{
    color: #FFFFFF;
}
.button__made--inactive--color{
    color: #FFFFFF;
}


.button__products--inactive--feature{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
}

.button__made--inactive{
background: #D41443;
width: 138px;
height: 40px;
top: 308px;
left: 135px;
border-radius: 20px;
}  

.button__made--inactive:hover,
.button__made--inactive:focus,
.button__products--inactive:hover,
.button__products--inactive:focus{
    background-color: #ECEBEB;
    color:#D41443;
}

.header__foot{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.header__next__left{
display:flex;
flex-direction: column;
justify-content: flex-end;    
border:1px dashed #ECEBEB;
height: 202px;
width: 100px;
}

.first__block__left{
    display:flex;
    position:relative;
    margin-top:0;
    margin-right: 30px; 
}

.second__block__left{
    display:flex;
    position:relative;
    margin-top:0;
    margin-right: 30px; 
}


.text__big__number{
    width: 200px;
    height: 78px;   
    top: 456px;
    left: 229px;
}

.text__big__number--font{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;  
    color: #FFFFFF; 
}


.foot__right{
display:flex;
justify-content: flex-start;
align-items: center;
}


.text__end{ 
    width: 200px;
    height: 78px;
    top: 456px;
    left: 229px; 
    margin-bottom:20px;
}

.text__end__type{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;    
}

.text__end__feature{
    color:#FFFFFF;
}


.second__block__right{
height: 150px;   
display:block;
display:flex;
flex-direction: column;
}