$main-font: 'Roboto', 'sans-serif';
$secondary-font: 'Raleway', 'sans-serif';
$primary-color: #2196F3;
$secondary-color: #ffffff;
$text-color-primary: #212121;
$text-color-secondary: #757575;
$text-color-tertiary: #AFB1B8;
$bg-color-dark: #2f303a;
$bg-color-dark-trans: #2f303a66;
$bg-color-light: #f5f4fa;