


<footer class="footer">

    
    <div class="container">
        

<div class="footer__last">
    <div class="footer__titles">
        <h3 class="title2">HOMEMADE ICE CREAM MADE</h3>
    <h2 class="title1">WITH PASSION</h2>
    </div>
    <div>
        <ul class="media">
            <li class="media__li">
                <a href="https://github.com/" target="_blank">
                <svg class="media__social">
                    <use class="media__svg" href="./images/icons.svg#icon-github" ></use>
                </svg>
                </a>
            </li>
            <li class="media__li">
                <a href="https://web.telegram.org/a/" target="_blank">
                <svg class="media__social">
                    <use class="media__svg" href="./images/icons.svg#icon-telegram" ></use>
                </svg>
                </a>
            </li>
            <li class="media__li">
                <a href="https://www.facebook.com/" target="_blank">
                <svg class="media__social">
                    <use class="media__svg" href="./images/icons.svg#icon-facebook" ></use>
                </svg>
                </a>
            </li>
        </ul>
        <p class="footer__contact">Feel free to contact<a class="footer__tel-to" href="tel:+610383766284"><span class="footer__tel">+61 (0) 383 766 284</span></a></p>
    </div>
    
</div>
<div class="footer__underline"></div>
<div class="footer__reserved">
    <div class="footer-p">
    
        <p class="footer__rights">© 2022 - IceCream. All Rights Reserved. </p>
    </div>
</div>
</div>
</footer>