<footer class="footer">
<div class="footer__buttons">
    <ul class="fbutton">
        <li class="fbutton__li">
            <button class="fbutton__location buttons">Our Locations ></button>
        </li>
        <li class="fbutton__li">
            <button class="fbutton__franchise buttons">Franchise ></button>
        </li>
    </ul>
</div>
<div class="footer__last">
    <div class="footer__titles">
        <h3 class="title2">HOMEMADE ICE CREAM MADE</h3>
    <h2 class="title1">WITH PASSION</h2>
    </div>
    <div>
        <ul class="media">
            <li class="media__svg">git</li>
            <li class="media__svg">tel</li>
            <li class="media__svg">face</li>
        </ul>
        <p>Feel free to contact <span class="footer__tel">+61 (0) 383 766 284</span></p>
    </div>
    
</div>
<div class="footer-p">
    <p class="footer__rights">© 2022 - IceCream. All Rights Reserved. </p>
</div>
</footer>