<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./sass/index.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;1,9..40,400&family=Titan+One&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/src/sass/styles.css" />
    <title>Header Ice Cream Proy</title>
  </head>
  <header class="header">
    <section class="nav">
      <img
        class="nav__logo"
        src="/src/images/image__logo__ice.svg"
        alt="logo_page"
      />
      <ul class="list__i">
        <li class="item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="item">
          <a href="#" class="nav__link">About us</a>
        </li>
        <li class="item">
          <a href="#" class="nav__link">How it's made</a>
        </li>
        <li class="item">
          <a href="#" class="nav__link">Our product</a>
        </li>
        <li class="item">
          <a href="#" class="nav__link">Contact</a>
        </li>
      </ul>
      <a href="#" class="btn__right">
        <span class="btn__text">Buy Now</span>
        <img src="/src/images/arrow.svg" alt="icon" />
      </a>
    </section>
    <section class="header__next">
      <div class="left__opt">
        <div class="text">
          <h1 class="first__line">
            ICE CREAM MADRE WITH
          </h1>
          <h2 class="second__line">
            PASSION
          </h2>
        </div>
        <div class="buttons">
          <button
            class="btn__pts"
          >
            Products
          </button>
          <button
            class="btn__made"
          >
            How it's made
          </button>
        </div>
      </div>
      <div class="next__right">
        <ul class="blck__right">
          <li class="group__obj">
            <img
              class="circle__white"
              src="/src/images/Ellipse_1.svg"
              alt="White circle"
            />
            <div class="block__obj">
              <h3 class="big__number">16</h3>
              <h6
                class="text__big"
              >
                Cafes
              </h6>
            </div>
          </li>
        </ul>
        <div class="block__left">
          <li class="group__obj">
            <img
              class="circle__white"
              src="/src/images/Ellipse_1.svg"
              alt="white circle"
            />
            <div class="block__obj">
              <h3 class="big__number">23</h3>
              <h6 class="text__big">
                Food Struck
              </h6>
            </div>
          </li>
        </div>
      </div>
    </section>

    <section class="header__foot">
      <div class="foot__right">
        <img
          class="logo__milk_bio"
          src="/src/images/milk-bio.png"
          alt="milk-bio"
        />
        <div class="block__right">
          <h6 class="text__end">
            Indulge in a scoop of ice cream made with passion and treat your
            taste buds to an unforgetable expecience!
          </h6>
          <a class="button__foot" href="#">
            <img
              class="logo__img"
              src="/src/images/arrow-right_3.svg"
              alt="arrow button"
            />
          </a>
        </div>
      </div>
      <div class="foot__left">
        <img
          class="logo__tasty logo__tasty--pos"
          src="/src/images/tasty-image.png"
          alt="logo-left"
        />
      </div>
    </section>
  </header>
  <body>
    <!--<include src="./partials/header.html"></include>-->
  </body>
</html>
