<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./sass/index.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;1,9..40,400&family=Titan+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/src/partials/styles.css/styles.css" />
    <title>Header Ice Cream Proy</title>
</head>
<header class="header"> 
    <div class="header__cont">
        <section class="header__nav">
            <img src="/src/partials/images/image__logo__ice.svg" alt="Logo_cream">    
            <ul class="nav__items">
                <li>
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav__link">About us</a>
                </li>
                <li>
                    <a href="#" class="nav__link">How it's made</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Our product</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
            <a href="#" class="btn__buy" onclick="ocultar()">
                <span class="btn__text" data-modal-open>Buy Now</span>
                <svg class="icon--ppal" width="10px" height="16px">
                    <use xlink:href="/src/images/icons.svg#arrowred"/>
                     </svg>
                <!--img src="/images/arrow.svg" alt="icon" />*/-->
                    </a>
            <!--  comienza modal  formulario datos-->
            <div class="backdrop-container is-hidden" data-modal>
                <form action="action_page.php" class="modal">
                    <h1 class="title__form">Haga su Pedido Ya</h1>
                    <label for="usr-name" class="label_form" id="usr-name">Nombre</label>
                    <div class="container-field">
                     <svg class="back-icon-svg" width="18px" height="18px">
                    <use xlink:href="/src/partials/images/icons.svg#contac-name"/>
                     </svg>
                     <input class="input-field" type="text" name="usr-name">
                    </div>
                    <label for="phone" class="label_form" id="phone">Teléfono:</label>
                    <div class="container-field">
                        <svg class="back-icon-svg" width="18px" height="18px">
                            <use xlink:href="/src/images/icons.svg#phone"/>
                             </svg>
                    <input id="input-field" type="tel" required>
                    </div>  
                    <label for="email" class="label_form">E-mail</label>
                    <div class="container-field">
                        <svg class="back-icon-svg" width="18px" height="18px">
                            <use xlink:href="/src/images/icons.svg#mensaje"/>
                             </svg>
                    <input id="input-field" type="email"  required>
                    </div>
                    <label for="text-comment" class="label_form" id="text-comment">Comentarios</label>
                    <textarea class="box-text"cols="30" rows="5"  id="subject" name="subject" placeholder="Introduzca texto"></textarea>
                    <input type="checkbox" class="myCheck" onclick="myFunction()">
                    <label class="terminos">Estoy de acuerdo con el boletin informativo y acepto los Términos y Condiciones.</label>
                 <button data-modal-close id="close-btn" onclick="mostrar()">   
                   <svg class="close">
                        <use  class="icons" xlink:href="/src/images/icons.svg#xvector"/>
                        </svg>
                 </button>
                 <button class="btn-form" type="button">Enviar</button>
                </form>
            </div>
        <!--     fin  Formulario Modal -->
        </section>
        <section class="menu__next">
            <div class="menu__left">
                <div class="text">
                    <h1 class="text__h1">
                        ICE CREAM MADRE WITH
                    </h1>
                    <h2 class="text__h2">
                        PASSION
                    </h2>
                </div>
                <div class="buttons__left">
                    <div class="btn__products">
                        Products
                    </div>
                    <div class="btn__made">
                        How it's made
                    </div>
                </div>
            </div>
            <div class="group__right" id="dontshow">
                <ul>
                    <li class="group__obj">
                        <img class="group__logo" src="/src/images/Ellipse_1.svg" alt="White circle" />
                        <div class="group__text">
                            <h3 class="group__big">16</h3>
                            <h6 class="big__text">
                                Cafes </h6>
                        </div>
                    </li>
                </ul>
                <div class="block__left">
                    <li class="group__obj">
                        <img class="group__logo" src="/src/images/Ellipse_1.svg" alt="white circle" />
                        <div class="group__text">
                            <h3 class="group__big ">23</h3>
                            <h6 class="big__text">
                                Food Struck
                            </h6>
                        </div>
                    </li>
                </div>
            </div>
        </section>

        <section class="foot__section">
            <div class="foot__left">
              <img
                class="logo__milk_bio"
                src="/src/images/milk-bio.png"
                alt="milk-bio"
              />
              <div class="block__left">
                <h6 class="text__end">
                  Indulge in a scoop of ice cream made with passion and treat your
                  taste buds to an unforgetable expecience!
                </h6>
                <a class="open-modal-btn" onclick="ocultar()" href="#">
                  <!---- <svg class="botoncito" transform="scale(0.025)">
                        <use  class="icons" xlink:href="/images/icons.svg#image0_70748_227"/>
                        </svg>-->
                <img class="logo__img" src="/src/images/arrow-right_3.svg" alt="arrow button">
            </a>
              </div>
            </div>
                          
                <!-- Ventana Modal Promociones-->

                <div class="modal-overlay hide">
                    <div class="modal-wrapper">
                        <div class="close-btn-wrapper">
                            <button class="close-modal-btn" onclick="mostrar()">
                                Close
                            </button>
                        </div>
                        <h4 class="title__video">HOW TO MAKE THE ICE CREAM</h4>
                        <div class="modal-content">
                            <video width="500" height="400" autoplay muted>
                                <source src="/src/partials/video/Homemade.mp4" type="video/mp4">
                        </div>
                    </div>
                </div>

                    <!---->
            <div id="image_milk" class="foot__left">
              <img
                class="logo__tasty logo__tasty--pos"
                src="/src/images/tasty-image.png"
                alt="logo-left"
              />
            </div>
          </section>
    </div>
</header>
<script src="/src/partials/modal_one.js"></script>
<script src="/src/partials/modal_two.js"></script>
<body>
    <!--<include src="./partials/header.html"></include>-->
</body>
</html>
