<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>section4</title>
</head>
<body>
    <section>
        <div class="card2 container">
            <ul class="card2__space">
             <li class="card2__rectangle">CAFÉ</li>
                <h3 class="card2__tittle">Chicago</h3>
                <p class="card2__text">Handcrafted coffee, baked goods, and premium ice cream.</p>
                <div class="card2__line"></div>
                <h3 class="card2__tittle">Monday - Friday</h3>
                <p class="card2__hour1">06:00 AM - 10:00 PM</p>
                <h3 class="card2__tittle2">Saturday - Sunday</h3>
                <p class="card2__hour">08:00 AM - 16:00 PM</p>
                <div class="card2__line"></div>
                <p class="card2__phone">+61(0) 383 766 284</p>
                <p class="card2__mail">noreply@envato.com</p>
            </ul>
            <ul class="card2__space">
                <li class="card2__rectangle2">FOOD TRUCK</li>
                   <h3 class="card2__tittle">Los Angeles</h3>
                   <p class="card2__text">Fusion cuisine and refreshing ice cream made with passion.</p>
                   <div class="card2__line"></div>
                   <h3 class="card2__tittle">Monday - Friday</h3>
                   <p class="card2__card2__hour1">06:00 AM - 10:00 PM</p>
                   <h3 class="card2__tittle2">Saturday - Sunday</h3>
                   <p class="card2__hour">08:00 AM - 16:00 PM</p>
                   <div class="card2__line"></div>
                   <p class="card2__phone">+61(0) 383 766 284</p>
                   <p class="card2__mail">noreply@envato.com</p>
               </ul>
               <ul class="card2__space">
                <li class="card2__rectangle">CAFÉ</li>
                   <h3 class="card2__tittle">New York</h3>
                   <p class="card2__text">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
                   <div class="card2__line"></div>
                   <h3 class="card2__tittle">Monday - Friday</h3>
                   <p class="card2__card2__hour1">06:00 AM - 10:00 PM</p>
                   <h3 class="card2__tittle2">Saturday - Sunday</h3>
                   <p class="card2__hour">08:00 AM - 16:00 PM</p>
                   <div class="card2__line"></div>
                   <p class="card2__phone">+61(0) 383 766 284</p>
                   <p class="card2__mail">noreply@envato.com</p>
               </ul>
        </div> 
    </section>
</body>
</html>