<section class="description" id="section2">
  <p class="description__slogan">tradition and love</p>
  <h1 class="description__title">how it’s made?</h1>

  <div class="detail">
    <img class="detail__image" src="./images/home-pic4 1.png" alt="home-pic" />

    <div class="detail__text">
      <p class="detail__text-1">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>

      <p class="detail__text-2">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>

      <button type="button" class="button-detail" data-modal-open>
        <span>Read more</span>
        <svg class="button-detail__icon" width="8" height="10">
          <use href="./images/icons.svg#icon-arrow1"></use>
        </svg>
      </button>
          
  </div>
</div> 
  <ul class="advantages">
    <h2 class="advantages__title">Advantages</h2>
    <li class="advantages__list">
      <p class="advantages__list-1 advantages__list-icon1">721</p>
      <p class="advantages__list-2">
        At 721 Cow, we're passionate about producing the highest quality ice
        cream possible.
      </p>
    </li>
    <li class="advantages__list">
      <p class="advantages__list-1 advantages__list-icon2">16kg</p>
      <p class="advantages__list-2 adv2-second">
        You can be sure you're getting a scoop of the freshest ice cream around.
      </p>
    </li>
    <li class="advantages__list">
      <p class="advantages__list-1 advantages__list-icon3">84</p>
      <p class="advantages__list-2">
        We use only the freshest, locally-sourced ingredients to make our 84
        unique and delicious flavors.
      </p>
    </li>
  </ul>
  
</section>
<div class="modal-backdrop is-hidden" data-modal>
  <div class="modal-backdrop__content">
    <h2>We want you to know us better:</h2>
    <p>We are dedicated to exploring new flavor horizons to provide our customers with the best and freshest flavors. Every day we select the best ingredients from the area and foreign suppliers. We offer quality products, with a variety of flavors and textures for all tastes that can be enjoyed at any time, and since they are made with natural ingredients, they provide energy and a large number of nutrients for the body.
      As our products are healthy, they have the following benefits: fewer calories, with more vitamins, they generate happiness, combat stress and promote hydration.
      The most important thing for us is the satisfaction of our customers, which is why we seek to provide them with moments of well-being, pleasure and tranquility through our products, which they can share with family or friends.
      We also work as a team to positively touch the lives of our colleagues and customers with safe processes, excellent service and a passion for ice cream.
    </p>
    <button type="button" class="modal-close" data-modal-close>Close</button>
</div>
</div>
<script src="/src/modal.js"></script>