<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>section4</title>
</head>
<body>
    <section class="section4-oficce">
        <div class="section4-oficce container">
            <ul class="space">
             <li class="rectangle">CAFÉ</li>
                <h3 class="titulo">Chicago</h3>
                <p class="parrafos">Handcrafted coffee, baked goods, and premium ice cream.</p>
                <div class="line"></div>
                <h3 class="titulo">Monday - Friday</h3>
                <p class="hour1">06:00 AM - 10:00 PM</p>
                <h3 class="titulo2">Saturday - Sunday</h3>
                <p class="hour">08:00 AM - 16:00 PM</p>
                <div class="line"></div>
                <p class="phone">+61(0) 383 766 284</p>
                <p class="mail">noreply@envato.com</p>
            </ul>
            <ul class="space">
                <li class="rectangle2">FOOD TRUCK</li>
                   <h3 class="titulo">Los Angeles</h3>
                   <p class="parrafos">Fusion cuisine and refreshing ice cream made with passion.</p>
                   <div class="line"></div>
                   <h3 class="titulo">Monday - Friday</h3>
                   <p class="hour1">06:00 AM - 10:00 PM</p>
                   <h3 class="titulo2">Saturday - Sunday</h3>
                   <p class="hour">08:00 AM - 16:00 PM</p>
                   <div class="line"></div>
                   <p class="phone">+61(0) 383 766 284</p>
                   <p class="mail">noreply@envato.com</p>
               </ul>
               <ul class="space">
                <li class="rectangle">CAFÉ</li>
                   <h3 class="titulo">New York</h3>
                   <p class="parrafos">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
                   <div class="line"></div>
                   <h3 class="titulo">Monday - Friday</h3>
                   <p class="hour1">06:00 AM - 10:00 PM</p>
                   <h3 class="titulo2">Saturday - Sunday</h3>
                   <p class="hour">08:00 AM - 16:00 PM</p>
                   <div class="line"></div>
                   <p class="phone">+61(0) 383 766 284</p>
                   <p class="mail">noreply@envato.com</p>
               </ul>



        </div> 
    
    
        



    </section>
</body>
</html>