<main>
  <div>
    <section class="container-s3">
      <div class="collage">
        <img src="./images/collage.png" alt="collage" class="collage__img" />
      </div>
      <ul class="card">
        <li class="card__content">
          <img src="./images/testimonials1.png" alt="" />
          <div class="card__bg">
            <svg class="card__sgv-qm">
              <use href="./images/icons.svg#icon-qm"></use>
            </svg>

            <p class="card__p">
              <strong
                >I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.</strong
              >
            </p>
          </div>
          <svg class="card__sgv">
            <use href="./images/icons.svg#icon-points"></use>
          </svg>
          <h2 class="card__h2">Emily, Los Angeles</h2>
          <svg class="card__sgv2">
            <use href="./images/icons.svg#icon-hrdots"></use>
          </svg>
        </li>
        <li class="card__content">
          <img src="./images/testimonials2.png" alt="" />
          <div class="card__bg">
            <svg class="card__sgv-qm">
              <use href="./images/icons.svg#icon-qm"></use>
            </svg>
            <p class="card__p">
              <strong
                >I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.</strong
              >
            </p>
          </div>
          <svg class="card__sgv">
            <use href="./images/icons.svg#icon-points"></use>
          </svg>
          <h2 class="card__h2">Emily, Los Angeles</h2>
          <svg class="card__sgv2">
            <use href="./images/icons.svg#icon-hrdots-center"></use>
          </svg>
        </li>
        <li class="card__content">
          <img src="./images/testimonials3.png" alt="" />
          <div class="card__bg">
            <svg class="card__sgv-qm">
              <use href="./images/icons.svg#icon-qm"></use>
            </svg>
            <p class="card__p">
              <strong
                >I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.</strong
              >
            </p>
          </div>
          <svg class="card__sgv">
            <use href="./images/icons.svg#icon-points"></use>
          </svg>
          <h2 class="card__h2">Emily, Los Angeles</h2>
          <svg class="card__sgv2">
            <use href="./images/icons.svg#icon-hrdots-right"></use>
          </svg>
        </li>
      </ul>
    </section>
  </div>
</main>
<script src="/src/slide.js"></script>
