
<section class="sec-4">
    <div class="sec-4__ab">
    <div class="card2 container">
        <ul class="card2__space">
         <li class="card2__rectangle">CAFÉ</li>
            <h3 class="card2__tittle">Chicago</h3>
            <p class="card2__text">Handcrafted coffee, baked goods, and premium ice cream.</p>
            <div class="card2__line"></div>
            <h3 class="card2__tittle">Monday - Friday</h3>
            <p class="card2__hour1">06:00 AM - 10:00 PM</p>
            <h3 class="card2__tittle">Saturday - Sunday</h3>
            <p class="card2__hour">08:00 AM - 16:00 PM</p>
            <div class="card2__line"></div>
            <li><a class="card2__phone" href="numero">+61(0) 383 766 284</a></li>
            <li><a class="card2__mail" href="mail">noreply@envato.com</a></li>
        </ul>
        <ul class="card2__space">
            <li class="card2__rectangle2">FOOD TRUCK</li>
               <h3 class="card2__tittle">Los Angeles</h3>
               <p class="card2__text">Fusion cuisine and refreshing ice cream made with passion.</p>
               <div class="card2__line"></div>
               <h3 class="card2__tittle">Monday - Friday</h3>
               <p class="card2__hour1">06:00 AM - 10:00 PM</p>
               <h3 class="card2__tittle">Saturday - Sunday</h3>
               <p class="card2__hour">08:00 AM - 16:00 PM</p>
               <div class="card2__line"></div>
               <li><a class="card2__phone" href="numero">+61(0) 383 766 284</a></li>
               <li><a class="card2__mail" href="mail">noreply@envato.com</a></li>
           </ul>
           <ul class="card2__space">
            <li class="card2__rectangle">CAFÉ</li>
               <h3 class="card2__tittle">New York</h3>
               <p class="card2__text">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
               <div class="card2__line"></div>
               <h3 class="card2__tittle">Monday - Friday</h3>
               <p class="card2__hour1">06:00 AM - 10:00 PM</p>
               <h3 class="card2__tittle">Saturday - Sunday</h3>
               <p class="card2__hour">08:00 AM - 16:00 PM</p>
               <div class="card2__line"></div>
               <li><a class="card2__phone" href="numero">+61(0) 383 766 284</a></li>
               <li><a class="card2__mail" href="mail">noreply@envato.com</a></li>
           </ul>
    </div> 

    <div class="card2__buttons">
        <ul class="card2__s4button">
            <li class="fbutton__li">
                <button type="button" class="fbutton__location buttons" openModal>Our Locations
                    <svg width="8" height="8" class="fbutton__svg">
                        <use class="media__svg" href="./images/icons.svg#icon-arrow-white" ></use>
                    </svg>
                </button>
            </li>
            

            <li class="fbutton__li">
                <button type="button" class="fbutton__franchise buttons" openModal2>Franchise 
                    <svg width="8" height="8" class="fbutton__svg">
                        <use class="media__svg" href="./images/icons.svg#icon-right" ></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>
</section>




<div class="modal show" myModal>
<div class="modal__content">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2968.188862632487!2d-87.747067!3d41.9317929!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fccf95d7b9329%3A0xd9ba888046a7bd63!2sIce%20Cream!5e0!3m2!1ses!2sco!4v1692639629226!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<button class="modal-close" closeModal>Cerrar</button>
</div>

<div class="modal2 show2" myModal2>
<div class="modal2__content2">
    <img class="modal2__img-modal" src="./images/franchise-modal.png"></img>
</div>
<button class="modal-close2" closeModal2>Cerrar</button>
</div>
<script src="./modal_four.js"></script>
<script src="./modal_three.js"></script>
