.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 0px !important;
    width: 0px !important;
    overflow: hidden;
 } 