.logo {
    height: 31px;
    font-family: 'Raleway';    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $primary-color;;
    text-decoration: none;
    letter-spacing: 0.03em;    
}