:root {
  --primary-color: #d41443;
  --secondary-color: #ffa5ba;
  --tertiary-color: #000;
  --brand-color: #fff;
  --brand-color2: #fff5f6;
}

body {
  font-family: 'Titan One', 'DM Sans';
}

.description {
  background: var(--brand-color2);
  padding-bottom: 15%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &__slogan {
    color: var(--secondary-color);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-top: 60px;
    letter-spacing: normal;
  }
  &__title {
    color: var(--primary-color);
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: normal;
  }
}

.detail {
  display: flex;
  background-image: url(../images/sectionbg1\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 90px;
  &__image {
    padding: 8px 0px 20px 20px;
    width: calc(100% - 20%);
    height: calc(100% - 20%);
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 5%;
    height: 100%;
  }
  &__text-1 {
    color: var(--tertiary-color);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.64px;
    width: calc(100% - 10%);
    height: 20%;
    margin-top: 50px;
    margin-bottom: 32px;
  }
  &__text-2 {
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 0.56px;
    width: calc(100% - 10%);
    height: 20%;
    margin-bottom: 40px;
  }

}

.button-detail {
  color: var(--primary-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--brand-color);
  border: var(--brand-color);
  border-radius: 22px;
  width: 176px;
  height: 44px;
  cursor: pointer;
  &__icon {
    stroke: var(--primary-color);
    stroke-width: 2px;
    margin-left: 8px;
  }
  &:hover {
    background: #ecebeb;
    transition: all 0.5s;
  }  
}

/*Botón abrir modal*/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #f3d2d990;
  pointer-events: auto;
  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
  }
  &__content {
    width: 850px;
    height: 523px;
    padding: 10px 25px;
    border-radius: 15px;
    background: var(--secondary-color);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    & h2 {
      font-size: 25px;
      font-weight: 500;
      color: var(--primary-color);
    }
    & p {
      color: var(--brand-color);
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.56px;
      text-align: justify;
    }
  }
}


.modal-close {
  width: 30%;
  height: 50px;
  border-radius: 15px;
  border: 5px solid rgba(202, 202, 229, 0.981);
  background: #efdada;
  color: var(--primary-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

/*Advantages*/

.advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 100px;
  max-width: 1200px;
  padding: 0 16px;
  &__title {
    display: none;
  }
  &__list {
    list-style: none;
    position: relative;
    flex-basis: calc((100% - 200px) / 3);
  }
  &__list-1 {
    color: var(--primary-color);
    text-align: left;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    margin: 0;   
    }    
  &__list-2 {
    color: var(--tertiary-color);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.32px;    
  }
  &__list-icon1 {
    &::before {
      background-image: url(../images/milk.png);
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      top: -80px;
      left: 0px;
      width: 50px;
      height: 50px;
    }
  }
  &__list-icon2 {
    &::before {
      background-image: url(../images/apples.png);
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      top: -80px;
      left: 0px;
      width: 50px;
      height: 50px;
    }
  }

  &__list-icon3 {
    &::before {
      background-image: url(../images/heart.png);
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      top: -80px;
      left: 0px;
      width: 50px;
      height: 50px;
    }
  }
}
  
@media screen and (min-width:480px) and (max-width:768px) {   
  // .product-detail-1 {
  //   background-image: none;
  // }

  .modal-backdrop {
    width: 100%;
    height: 100%;
    &__content {
      width: 400px;
      height: 600px;
      padding: 5px 13px;
      & p {
        font-size: 14px;
      }
    }
    
  }

  .description {    
  padding-bottom: 40%;   
  min-width: max-content;
  }
  .advantages {
    gap: 0 0;
  }
  .advantages__list-2 {
    width: 195px;
  }
  .detail {
    
    background-image: none;
    &__image {
      width: calc(100% - 50%);
    }
    &__text {
      max-width: 334px;
      padding-left: 3%;
    }
    &__text-1 {
      font-size: 14px;
      font-weight: 500;
      width: 100%;
    }
    &__text-2 {
      width: 100%;
      font-size: 14px;
      font-weight: 500;
    }
  }
  

}
@media screen and (min-width:0px) and (max-width:479px) {
  .modal-backdrop {
    width: 100%;
    height: 100%;
    &__content {
      width: calc(100% - 10%);
      height: calc(100% - 10%);
      padding: 5px 13px;
      gap: 1%;
      & p {
        font-size: 12px;
      }
    }    
  }
  .description {
    padding: 0 20px 66px 20px;
    &__cont-title {
      padding: 60px;
      padding-bottom: 32px;
    }
    &__slogan {
      font-size: 18px;
      padding: 0;
    }
    &__title {
      font-size: 34px;
    }
  }
  .detail {
    background-image: none;
    flex-direction: column;
    &__image {
      padding: 0;
    }
    &__text {
      padding-bottom: 10%;
    }
    &__text-1 {
      font-size: 12px;
      font-weight: 500;
      width: calc(100% - 30%);
      height: 100%;
    }
    &__text-2 {
      font-size: 12px;
      font-weight: 500;
      width: calc(100% - 30%);
      height: 100%;
    }
  }
  .product {
    background-image: none;
  }
  .advantages {
    flex-direction: column;
    gap: 90px;
    padding: 0;
    &____list-1 {
      font-size: 36px;
    }
    &__list-2 {
      font-size: 12px;
      font-weight: 700;
    }
    &__list-icon1,
    &__list-icon2,
    &__list-icon3 {
      &::before {
        top: -60px;
      }
    }
  
  }
}

