
.card2{
    /* width: 1200px;
    height: auto; */
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    
    
        &__space{
        width: 368px;
        height: 538px;
        padding: 40px;
        border: 1px;
        border-radius: 24px;
        box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
        background-color: white
        }
    
        &__rectangle{
        border-radius: 6px;
        background: #F0D1A5;
        width: 75.103px;
        height: 28px;
        flex-shrink: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        color: #FFF;
        justify-content: center;
        margin-bottom: 0;
        }
        &__rectangle2{
        border-radius: 6px;
        background: #C2E297;
        width: 138px;
        height: 28px;
        flex-shrink: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        color: #FFF;
        justify-content: center;
        margin-bottom: 0;  
    }
    
        &__tittle{
        color: #000;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%; /* 29.76px */
        letter-spacing: 0.64px;
        margin-top: 32px;
        margin-bottom: 0;
             &__tittle2{
            color: #000;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 186%; /* 29.76px */
            letter-spacing: 0.64px;
            margin-top: 0px;
            margin-bottom: 0;
    }
    }
    
    &__hour1{
        color: #FFA5BA;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%;
        margin-bottom: 12px;
        margin-top: 0; 
    }
    
    &__text{
    color: #907E82;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 29.28px */
    letter-spacing: 0.64px;
    margin-bottom: 32px;
    }
    
    &__line{
    width: 288px;
    height: 0px; 
    margin-bottom: 32px;
    border: 0.50px #E1E1E1 solid
    }
    
    &__hour{
    color: #FFA5BA;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin-bottom: 32px;
    margin-top: 0;
    }
    
    &__phone{
        color: #907E82;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 29.28px */
        letter-spacing: 0.64px;
        margin-bottom: 0;  
        margin-top: 32px;
    
                &:hover{
                color: #D41443; 
            }
                &__li{
                    margin-top: 32px;
                }
    }
    
    &__mail{
        color: #907E82;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 29.28px */
        letter-spacing: 0.64px;
        margin-bottom: 40px;  
        margin-top: 8px;
    
        &:hover{
            color: #D41443;
        }
    }

    &__buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 121px;          
        }
        &__s4button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 12px;
            margin-top: 60px; 
    }  

    .fbutton__location{
        cursor: pointer;
    }

    .fbutton__svg{
        margin-left: 10px;
    }

    }

    .modal{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background: #f3d2d990;
        pointer-events: auto;
        flex-direction: column;
        &.show {
          visibility: hidden;
          pointer-events: none;
        }
        &__content {
          width: 623px;
          height: 474px;
          padding: 10px 25px;
          border-radius: 15px;
          background: #fff;
          align-items: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          & h2 {
            font-size: 25px;
            font-weight: 500;
            color: var(--primary-color);
          }
          & p {
            color: var(--brand-color);
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.56px;
            text-align: justify;
          }
        }

      
      .modal-close {
        width: 10%;
        height: 50px;
        border-radius: 15px;
        border: 5px solid #fbfbfb;
        background: #efdada;
        color: var(--primary-color);
        text-align: center;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
      }


      }
      .modal2{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background: #f3d2d990;
        pointer-events: auto;
        flex-direction: column;
        &.show2 {
          visibility: hidden;
          pointer-events: none;
        }
        &__content2 {
            width: 692px;
            height: 412px;
        
            border-radius: 15px;
            background: #fff;
         
            display: flex;
            justify-content: center;
            flex-direction: column;
         
            }
            &__img-modal{
            width: 100%;
            height: 75%;
            }
      }

      .modal-close2 {
        width: 10%;
        height: 50px;
        border-radius: 15px;
        border: 5px solid #fbfbfb;
        background: #efdada;
        color: var(--primary-color);
        text-align: center;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
      }
        
.sec-4{
  position: relative;
  margin-top: 250px;
}
.sec-4__ab{
  position:absolute;
  left: 18%;
  top: -328px;
}
    
    
